<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Playvision</title>

    <link rel="stylesheet" href="../../stylesheets/styles.css">
    <link rel="stylesheet" href="../../stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="language">
        <a href="/">RU</a> | EN
    </div>
    <header>
        <a href='/en'><h1>Playvision</h1></a>
        <p></p>


        <p class="view">
            <a href='/en/main/startap.html'>Application startup options</a>
        </p>
        <p class="view">
            <a href='/en/main'>API requests</a><br>
            <a href='/en/users'>Users</a><br>
            <a href='/en/friends'>Friends</a><br>
            <a href='/en/wall'>Wall</a><br>
            <a href='/en/notification'>Notifications</a><br>
            <a href='/en/game'>Game interaction</a><br>
            <a href='/en/payment'>Payment API</a><br>
            <a href='/en/sdk'>Javascript SDK</a><br>
            <!--<a href='/en/shop'>Store interaction</a><br>-->
        </p>

    </header>
    <section>
        <h2>{{page.title}}</h2>
        {{ content }}
    </section>
    <footer>

    </footer>
</div>
<script src="/javascripts/scale.fix.js"></script>

</body>
</html>
